.list {
  counter-reset: li;
  list-style: none;
  padding: 0;
  margin: 0;
}

.item {
  position: relative;
  display: block;
  padding: 0.4em 0.4em 0.4em 2em;
  margin: 0.5em 0;
  background: var(--light-bg-color);
  text-decoration: none;
  border-radius: 0.3em;
  transition: 300ms ease-out;
}

.item:hover {
  background: var(--light-gray);
}
.item:hover:before {
  transform: scale(1.05);
}
.item:before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  left: -1.3em;
  top: 50%;
  margin-top: -1em;
  background: var(--accent-color);
  height: 2em;
  width: 2em;
  line-height: 150%;
  border: 0.3em solid var(--white-color);
  text-align: center;
  font-weight: bold;
  border-radius: 2em;
  transition: all 600ms ease-out;
}
